version: 1
# use interactive-sections to avoid an automatic reboot
#interactive-sections:
#  - locale
apt:
  # even set to no/false, geoip lookup still happens
  #geoip: no
  preserve_sources_list: false
  primary:
    - arches: [amd64, i386]
      uri: http://us.archive.ubuntu.com/ubuntu
    - arches: [default]
      uri: http://ports.ubuntu.com/ubuntu-ports
identity:
  hostname: {{ hostname | default('ubuntu-server') }}
  password: "{{ password | default('$6$FhcddHFVZ7ABA4Gi$z2g1zrhdlUD9bEcT4KhGfvySJjfKE5ZEfGX5jj//t1ZQovRRssTDYrZMh69xnNs43Lp4yPsi6NaMDLZ9X1Xpj1') }}"
  username: {{ username | default('ubuntu') }}
keyboard:
  layout: {{ keyboard_layout | default('us') }}
  variant: {{ keyboard_variant | default('') }}
locale: {{ locale | default('en_US.UTF-8') }}
network:
  network:
    version: 2
    ethernets:
      {{ network_interface | default('enp1s0') }}:
        critical: true
        dhcp-identifier: mac
        dhcp4: true
ssh:
  allow-pw: true
  authorized-keys:
    - {{ ssh_public_key | default('ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC4AfEs01eaTKUdG+92iy/fTCvABLHwlekBvWyQHYjZFv9CEBrNyyqeT7odmBHuAPxPIWqtCiL0/11SSd/4/eOUTblWnXI8U+peVcf8dnvuBTWLPa1/eh3Iuqaje0co8DlKow2oIYswOvmPYbs1o8VVGy4/lzjzkRf+37lMCopFD0vaP++k0ld5hl8HHF6NwVYyI/GzKY8Z2hEkAQd9y4aC7j8TDat04s2O5JvR4tgP1ydS8lyAirAZ3T6D1SB2sHb7HZ3nRteYbce13uFvNWI64OvJobpY/Y3BLb1VALYOJkR6l+6Lm4y5ipJiVETtPPjhgQYN9TWS3O+JJGEiOXFlHWq1H10e1/4OvJXNkzDp5L0MiFSpBe+mN2WAwjMlGBbtBpq06lPu7BG9hCVDkHL6EU/JQtgDrQhxxSlsgxXiJxJOvJJZIm7+I5WeCsCEUGPRTV/8eBf3K8WBaxhCTSfjAOLx3drQE/1O8/uvExaNrMkIhhVh0X7kivPBI7aP0E8= root@headnode01') }}
  install-server: true
storage:
  layout:
    name: lvm
  devices:
    - {{ storage_device | default('/dev/vda') }}  # The disk where the LVM setup will be created
  partitions:
    - size: 512MB
      type: primary
      mount: /boot/efi  # /boot/efi partition (for UEFI systems)
      filesystem: vfat
    - size: 2GB
      type: primary
      mount: /boot  # /boot partition for kernels and initrd
      filesystem: ext4
  lvm:
    volume_groups:
      - name: vg_root
        size: 100%FREE
        logical_volumes:
          - name: lv_root
            size: 100%FREE
            mount: /
            filesystem: ext4
